
@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title.</h1>
<h3>@ViewBag.Message</h3>

<p>RAMWAR (Rate A Movie Write A Review) is a movie review service, created by SERB Media LLC.
    We aim to provide users a clean and simple means of rating and reviewing their favorite films. Here, users are able to read/write uncensored reviews, in addition to providing a numerical rating. Users may also lerna bout which films star their favorite actors.<br />
    SERB Media LLC. is a Houston based Windows development company, founded by partners/programmers Sherry Cuenseco, Eddie Beanvides, Russell Gallien, and Bobby Sharma. They specialize in app and web development.
    </p>
<link href="~/Content/superhero.bootstrap.css" rel="stylesheet" />